// out: ../main.css
@import (reference) 'var.less';

* {
  box-sizing: border-box;
}

:root {
  --mouseX: -100%;
  --mouseY: -100%;
  --scale: 100%;
  --strokeWidth: 25px;
}

body {
  // For centering the notifications
  display: flex;
  justify-content: center;
  background-color: @background-color;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: @main-color;
  // This is to prevent a gray flash before the first room has been loaded
  &.initial-load {
    background-color: @canvas-color;
  }
  > *:not(#canvas-container) {
    z-index: @max-z-index;
  }
}

canvas, #canvas-container {
  width: 100%;
  height: 100%;
}

canvas {
  position: absolute;
  background-color: @canvas-color;
  outline: 6px solid @background-color;
  border-radius: 0;
  &:not(.inactive):not(.remove):not(:only-child) {
    @media not (prefers-reduced-motion) {
      animation: translateIn @canvas-anim-duration-inOut ease;
    }
    .canvasKeyframes.translateIn(72.5%, 0);
    @media (orientation: portrait) {
      .canvasKeyframes.translateIn(0, 72.5%);
    }

    #canvas-container.block-inout-animation & {
      animation-duration: 0s;
    }
  }

  &.inactive, &.remove {
    visibility: hidden;
    pointer-events: none;
    border-radius: @general-border-radius;
  }
  &.inactive {
    @media not (prefers-reduced-motion) {
      animation: translateOut @canvas-anim-duration-inOut ease;
    }
    .canvasKeyframes.translateOut(-30%, 0);
    @media (orientation: portrait) {
      .canvasKeyframes.translateOut(0, -30%);
    }
  }
  &.remove {
    @media not (prefers-reduced-motion) {
      outline-width: 25vmax;
      animation: canvasRemove @canvas-anim-duration-remove ease !important;
    }
    .canvasKeyframes.remove();
  }
}

button, input {
  display: block;
  font-family: inherit;
  font-size: 1em;
  color: inherit;
  padding: 0;
  border: none;
}
button {
  cursor: pointer;
  &:hover {
    background-color: @overlay-bg--hover !important;
  }
  &:active {
    background-color: @overlay-bg--active !important;
  }
}

input:invalid {
  border-color: @invalid-color !important;
  background-color: @invalid-overlay-bg !important;
}

// ---- Positioning ----
.button-group,
.horizontal {
  gap: @overlay-gap;
}

.button-group {
  display: inline-flex;
  flex-direction: column;
  &.right {
    align-items: flex-end;
  }
}

.horizontal, .button-wrapper {
  display: flex;
  align-items: center;
}
.horizontal {
  flex-direction: row;
}


// ---- Overlays & groups ----
.overlay {
  position: absolute;
  pointer-events: none;
  user-select: none;
  &.bottom {
    bottom: @overlay-margin;
  }
  &.left {
    left: @overlay-margin;
  }
  &.top {
    top: @overlay-margin;
  }
  &.right {
    right: @overlay-margin;
  }

  .button,
  .hover-overlay,
  .overlay-input:focus,
  .sl89-track {
    z-index: (@max-z-index - 1);
    border: @overlay-border-dims solid @canvas-color;
    background-color: @overlay-bg;
    box-sizing: content-box;
    padding: @overlay-padding;
    transition: transform .075s ease;
  }
  .button,
  .overlay-input,
  .has-pointer-events,
  .sl89-thumb,
  .sl89-track,
  .slider-hue-indicator {
    border-radius: 100px;
    pointer-events: auto;
  }

  body.inactive & {
    .sl89-thumb,
    .sl89-thumb * {
      pointer-events: none;
    }
    .overlay-input:not(.persistent),
    .floating-overlay-wrapper {
      display: none;
    }
    .button:not(.persistent),
    .sl89-track {
      pointer-events: none;
      transform: scale(.915);
      background-color: @overlay-bg--inactive;
      color: @main-color--inactive;
    }
  }
}

.overlay-input {
  @extra-padding: .4rem;
  z-index: (@max-z-index - 10) !important;
  white-space: nowrap;
  font-size: 1.025em;
  background-color: transparent;
  padding-top: @overlay-padding;
  padding-bottom: @overlay-padding;
  // Overwriting `.overlay.overlay-input:focus` styles (see above)
  padding-left: @extra-padding !important;
  padding-right: @extra-padding !important;
  // Lessen the changed position caused by the extra padding
  margin: 0 -(@extra-padding / 2);
  text-shadow:
    1px 0 @canvas-color,
    -1px 0 @canvas-color,
    0 1px @canvas-color,
    0 -1px @canvas-color,
    1px 1px @canvas-color,
    -1px 1px @canvas-color,
    1px -1px @canvas-color,
    -1px -1px @canvas-color,
    1.25px 0 @canvas-color,
    -1.25px 0 @canvas-color,
    0 1.25px @canvas-color,
    0 -1.25px @canvas-color,
    1.25px 1.25px @canvas-color,
    -1.25px 1.25px @canvas-color,
    1.25px -1.25px @canvas-color,
    -1.25px -1.25px @canvas-color;
  &.invalid {
    outline: 3px solid @invalid-color;
    transition: outline .1s ease-out;
  }
  br {
    display: none;
  }
}

.button-group {
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    width: @overlay-button-dims;
    height: @overlay-button-dims;
    > svg {
      width: @overlay-svg-dims;
      height: @overlay-svg-dims;
      &.plus-icon {
        width: @overlay-svg-dims * .73;
        height: @overlay-svg-dims * .73;
      }
    }
  }
}

.button-wrapper {
  position: relative;
  @media (hover: hover) {
    &:hover .hover-overlay:not(.no-hover) {
      display: block;
    }
  }
  .floating-overlay-wrapper {
    // Creating a hoverable but still invisible area 
    @floating-padding: (@overlay-button-dims / 2) + @overlay-padding;
    padding: 0 @floating-padding;
    margin: 0 -@floating-padding;
    z-index: (@max-z-index - 2);

    position: absolute;
    top: 0;
    .overlay.left & {
      left: 100%;
    }
    .overlay.right & {
      right: 100%
    }
  }
  .hover-overlay {
    display: none;
    padding: .375em .8em;
    margin: 0 .15em;
    border-radius: @general-border-radius;
    white-space: nowrap;
    &.active {
      display: block;
    }
    > ul {
      margin: 0;
      list-style: none;
      padding: .1875em;
      .item {
        display: block;
        padding: .1875em;
        &:hover {
          font-weight: bold;
        }
      }
    }
  }
}

.sl89-thumb {
  background-color: @slider-thumb-color;
  width: @slider-thumb-dims;
  height: @slider-thumb-dims;
  &:hover {
    background-color: @slider-thumb-color--hover;
  }
}

#draw-indicator {
  @draw-indicator-border-size: 2px;
  transform:
    translate(calc(var(--mouseX) - var(--strokeWidth) / 2), calc(var(--mouseY) - var(--strokeWidth) / 2))
    scale(calc(var(--scale) * 100%));
  width: var(--strokeWidth);
  height: var(--strokeWidth);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 1000px;
  outline: calc(@draw-indicator-border-size / var(--scale)) solid @draw-indicator-color;
  pointer-events: none;
  &.erase {
    background-color: @draw-indicator-color;
  }
  body.inactive & {
    display: none;
  }
}

#hit-border {
  @hit-border-size: 2px;
  // TODO This is a repeating pattern
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 0px solid transparent;
  transition: border .1s ease-in;
  &.hit-left {
    border-left: @hit-border-size solid @draw-indicator-color;
  }
  &.hit-top {
    border-top: @hit-border-size solid @draw-indicator-color;
  }
  &.hit-right {
    border-right: @hit-border-size solid @draw-indicator-color;
  }
  &.hit-bottom {
    border-bottom: @hit-border-size solid @draw-indicator-color;
  }
}

#notification-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  .notification {
    text-align: center;
    padding: .3em 1.5em;
    overflow: hidden;
    animation: shiftIn .2s ease;
    transition:
      all .2s ease,
      color .1s ease,
      opacity .15s ease;
    &.remove {
      color: transparent;
      opacity: 0;
      height: 0;
      padding: 0;
      border: none;
      margin-bottom: 0;
    }
    @keyframes shiftIn {
      from {
        opacity: 0;
        transform: translateY(-.5em);
      }
    }
  }
}

#toolbar {
  display: inline-flex;
  flex-direction: column;
  width: min-content;
  gap: calc(@toolbar-padding - @overlay-border-dims);
  padding: @toolbar-padding;
  background-color: @toolbar-bg;
  border-radius: 100px;
  backdrop-filter: blur(3px);
  .button {
    width: @toolbar-button-dims;
    height: @toolbar-button-dims;
    &.active {
      background-color: @overlay-bg--active;
    }
    &:not(.active) {
      background-color: transparent;
      border: none;
      margin: @overlay-border-dims;
    }
    > svg {
      width: @toolbar-svg-dims;
      height: @toolbar-svg-dims;
    }
  }
}

#tool-config-bar {
  min-height: @config-bar-height;
  .sl89-track {
    height: @config-bar-height;
    box-sizing: border-box;
    width: 12em;
  }
}

.hue-slider {
  .slider-hue-indicator {
    border: 4px solid @canvas-color;
    height: 100%;
  }
  .sl89-track {
    background-image: linear-gradient(to right,
      hsl(0, 75%, 70%),
      hsl(45, 75%, 70%),
      hsl(90, 75%, 70%),
      hsl(135, 75%, 70%),
      hsl(180, 75%, 70%),
      hsl(225, 75%, 70%),
      hsl(270, 75%, 70%),
      hsl(315, 75%, 70%),
      hsl(360, 75%, 70%)
    );
  }
}
.width-slider {
  .sl89-thumb {
    width: @slider-width-thumb-width;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#user-list-wrapper,
#room-list {
  .item.current::after {
    margin-left: .28em;
  }
}
#user-list-wrapper {
  .item {
    transition: color .1s ease-in-out;
    &.current::after {
      content: '(You)';
    }
  }
}
#room-list {
  .item.current::after {
    content: '(Current)';
  }
}

#join-room-overlay-input {
  max-width: 8em;
  text-align: center;
}

#copy-room-link-overlay {
  position: relative;
  overflow: hidden;
  .copied-indicator {
    visibility: hidden;
    opacity: 0;
    transform: scale(1.11);

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: @overlay-bg;
    border-radius: inherit;
    transition:
      opacity .07s ease-in-out,
      all .14s ease;
    > svg {
      margin-left: .1em;
      width: 1.5em;
      height: 1.5em;
    }
  }
  &.copied .copied-indicator {
    visibility: visible;
    opacity: 1;
    transform: none;
  }
}
