// main: main.less
@canvas-color: hsl(0, 0%, 8%);
@draw-indicator-color: hsl(0, 0%, 90%);

@general-border-radius: 1.4em;

@invalid-color: #B83232;


@overlay-margin: 1em;
@overlay-gap: .5em;
@overlay-bg: hsl(0, 0%, 18%);
@slider-dims: 1.6em;
