// main: main.less
@main-color: hsl(0, 0%, 95%);
@main-color--inactive: hsl(0, 0%, 85%);

@canvas-color: hsl(0, 0%, 8%);
@background-color: hsl(0, 0%, 18.5%);
@draw-indicator-color: hsl(0, 0%, 90%);

@general-border-radius: 1.4em;

@invalid-color: #B83232;

@max-z-index: 2147483647;

@overlay-margin: .85rem;
@overlay-gap: .45rem;
@overlay-padding: .2rem;

@overlay-button-dims: 2.72rem;
@overlay-svg-dims: 1.05em;
@slider-dims: 1.65rem;

@overlay-bg: hsl(0, 0%, 18%);
@overlay-bg--inactive: darken(@overlay-bg, 6%);



// -- Canvas animations --
@canvas-anim-inactive-scale: .9175;

// NOTE: Remember to update CANVAS_ANIM_DURATION (init.js) when changing these values
@canvas-anim-duration-inOut: .6s;
@canvas-anim-duration-remove: .26s;


.canvasKeyframes {
  .translateIn(@translateX, @translateY) {
    @keyframes translateIn {
      0% {
        scale: @canvas-anim-inactive-scale;
        z-index: 0;
        pointer-events: none;
        border-radius: @general-border-radius;
      }
      49.9% {
        z-index: 0;
      }
      50% {
        z-index: (@max-z-index - 1);
        transform: translate(@translateX, @translateY);
      }
      85% {
        border-radius: @general-border-radius;
      }
      100% {
        pointer-events: none;
      }
    }
  }
  .translateOut(@translateX, @translateY) {
    @keyframes translateOut {
      0% {
        border-radius: 0;
        visibility: visible;
      }
      2% {
        border-radius: @general-border-radius;
      }
      50% {
        transform: translate(@translateX, @translateY);
      }
      100% {
        scale: @canvas-anim-inactive-scale;
        visibility: visible;
      }
    }
  }
  .remove() {
    @keyframes canvasRemove {
      0% {
        border-radius: 0;
        visibility: visible;
      }
      2% {
        border-radius: @general-border-radius;
      }
      47% {
        transform: scale(.925);
        filter: none;
        opacity: 1;
      }
      100% {
        transform: scale(1.125);
        opacity: 0;
        filter: blur(12px);
        visibility: visible;
      }
    }
  }
}
