<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/library/utility-wheel/style/main.css">
    <link rel="stylesheet" href="/style/hallo89.net/global.css">
    <link rel="stylesheet" href="/style/main.css">
    <title>Scratchet</title>
  </head>
  <body class="initial-load">
    <div id="canvas-container"></div>

    <div id="draw-indicator"></div>

    <div id="hit-border"></div>

    {% include 'static/library/utility-wheel/html/snippet.html' %}

    <div id="prompt-wrapper" class="panel overlay self-centered has-pointer-events">
      <span class="header"></span>
      <div class="buttons">
        <button class="button cancel" type="button">Cancel</button>
        <button class="button submit" type="button">Yes</button>
      </div>
    </div>

    <div id="social-overlay" class="overlay top left button-group">
      <div class="horizontal">
        <div class="button-wrapper">
          <button id="user-list-button" class="button" type="button" title="Toggle user list">0</button>
          <div class="floating-overlay-wrapper has-pointer-events">
            <div id="user-list-wrapper" class="hover-overlay"></div>
          </div>
        </div>
        <span id="username-input" class="overlay-input persistent" contenteditable="true" spellcheck="false"></span>
      </div>
    </div>

    <div id="room-overlay" class="overlay top right button-group">
      <div class="horizontal">
        <span id="roomcode-input" class="overlay-input" contenteditable="true" spellcheck="false"></span>
        <div class="button-wrapper">
          <div class="floating-overlay-wrapper has-pointer-events">
            <div class="hover-overlay">
              <ul id="room-list"></ul>
            </div>
          </div>
          <button id="room-list-button" class="button" type="button" title="Toggle room list">0</button>
        </div>
      </div>
      <button id="leave-room-button" class="button" type="button" title="Leave current room">
        {% include 'views/component/svg/log-out-13.svg' %}
      </button>
      <div class="button-wrapper">
        <div id="copy-room-link-overlay" class="hover-overlay">
          <span id="copy-room-link-content"></span>
          <div class="copied-indicator" aria-hidden="true">
            Copied
            {% include 'views/component/svg/check-mark-17.svg' %}
          </div>
        </div>
        <button id="copy-room-link-button" class="button" type="button" title="Copy room link">
          {% include 'views/component/svg/link-2.svg' %}
        </button>
      </div>

      <button id="new-room-button" class="button persistent" type="button" title="Create an empty room">
        {% include 'views/component/svg/plus.svg' %}
      </button>
      <div class="button-wrapper">
        <input
          type="text" id="join-room-overlay-input" class="hover-overlay has-pointer-events no-hover" title="Enter a four-letter room code or a room link"
          minlength="4" spellcheck="false" autocomplete="off" autocorrect="off" placeholder="Room link or room code"/>
        <button id="join-room-button" class="button persistent" type="button" title="Join a room">
          {% include 'views/component/svg/arrow-right-lined.svg' %}
        </button>
      </div>
    </div>

    <div id="info-overlay" class="overlay bottom right"></div>

    <div id="utility-overlay" class="overlay bottom left button-group">
      <div id="toolbar" class="panel no-border has-pointer-events">
        <button data-tool="brush" class="button active" type="button" title="Use the brush tool">
          {% include 'views/component/svg/paintbrush-1.svg' %}
        </button>
        <button data-tool="eraser" class="button" type="button" title="Use the eraser tool">
          {% include 'views/component/svg/eraser-1.svg' %}
        </button>
      </div>

      <button id="clear-drawing-button" class="button" type="button" title="Clear your drawing">
        {% include 'views/component/svg/trash-can-28.svg' %}
      </button>

      <div class="horizontal">
        <button id="undo-button" class="button" type="button" title="Undo last action">
          {% include 'views/component/svg/undo.svg' %}
        </button>
        <button id="redo-button" class="button" type="button" title="Redo last undone action">
          {% include 'views/component/svg/redo.svg' %}
        </button>
      </div>

      <div id="tool-config-bar" class="button-group horizontal">
        <div id="width-slider"></div>
        <div id="hue-slider"></div>
      </div>
    </div>

    <div id="notification-overlay" class="overlay top overlay-text"></div>

    <script src="/library/utility-wheel/script/UtilityWheel.js"></script>
    <script src="/library/slider89/slider89.js"></script>
    <script src="/library/controls3d/script/State3D.js"></script>
    <script src="/library/controls3d/script/Controls3D.js"></script>

    <script src="/script/tool/ScratchetTool.js"></script>
    <script src="/script/tool/Brush.js"></script>
    <script src="/script/tool/Eraser.js"></script>

    <script src="/script/CanvasSendHandler.js"></script>
    <script src="/script/buffer/SendBuffer.js"></script>
    <script src="/script/buffer/UndoRedoBufferBase.js"></script>
    <script src="/script/buffer/BrushBuffer.js"></script>
    <script src="/script/buffer/EraseBuffer.js"></script>
    <script src="/script/buffer/UndoBuffer.js"></script>
    <script src="/script/buffer/RedoBuffer.js"></script>

    <script src="/script/UIActions.js"></script>
    <script src="/script/UIHandler.js"></script>
    <script src="/script/ScratchetController.js"></script>
    <script src="/script/CanvasViewTransform.js"></script>
    <script src="/script/CanvasView.js"></script>
    <script src="/script/ScratchetCanvas.js"></script>
    <script src="/script/ScratchetRoom.js"></script>
    <script src="/script/UserErase.js"></script>
    <script src="/script/ScratchetUser.js"></script>
    <script src="/script/OwnUser.js"></script>
    <script src="/script/init.js"></script>
  </body>
</html>
