<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/style/hallo89.net/global.css">
    <link rel="stylesheet" href="/style/main.css">
    <title>Scratchet</title>
  </head>
  <body class="initial-load">
    <div id="canvas-container"></div>

    <div id="draw-indicator"></div>

    <div id="hit-border"></div>

    <div id="prompt-wrapper" class="panel overlay self-centered has-pointer-events">
      <span class="header"></span>
      <div class="buttons">
        <button class="button cancel" type="button">Cancel</button>
        <button class="button submit" type="button">Yes</button>
      </div>
    </div>

    <div id="social-overlay" class="overlay top left button-group">
      <div class="horizontal">
        <div class="button-wrapper">
          <button id="user-list-button" class="button" type="button" title="Toggle user list" aria-label="Toggle user list">0</button>
          <div class="floating-overlay-wrapper has-pointer-events">
            <div id="user-list-wrapper" class="hover-overlay"></div>
          </div>
        </div>
        <span id="username-input" class="overlay-input persistent" contenteditable="true" spellcheck="false"></span>
      </div>
    </div>

    <div id="room-overlay" class="overlay top right button-group">
      <div class="horizontal">
        <span id="roomcode-input" class="overlay-input" contenteditable="true" spellcheck="false"></span>
        <div class="button-wrapper">
          <div class="floating-overlay-wrapper has-pointer-events">
            <div class="hover-overlay">
              <ul id="room-list"></ul>
            </div>
          </div>
          <button id="room-list-button" class="button" type="button" title="Toggle room list" aria-label="Toggle room list">0</button>
        </div>
      </div>
      <button id="leave-room-button" class="button" type="button" title="Leave current room" aria-label="Leave current room">
        <!-- log-out-13 by Iconmonstr @ https://iconmonstr.com/log-out-13-svg/ -->
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" aria-hidden="true">
          <path fill="currentColor" d="M21 14.874v-1.814h-3.25c-.745 0-1.128-.26-1.451-.706l-1.709-2.302-2.791 3.024 1.509 2.149c.478.753.514 1.267.514 1.952v5.823h-2.699v-5.474c-.021-1.512-2.455-2.945-3.303-1.723l-1.617 2.281c-.359.51-.971.686-1.565.686h-4.638v-2.621l3.483-.003c.544 0 1.017-.193 1.274-.806l1.549-3.782c.269-.563.632-1.076 1.076-1.515l3.609-3.573-1.02-.891c-.306-.267-.716-.381-1.116-.311l-2.999.525-.471-2.201 4.115-.784c.771-.147 1.433.103 2.009.636l3.961 3.656c.628.57 1.272 1.563 2.276 3.047.184.272.443.656 1.053.656h2.201v-1.85l3 2.96-3 2.961zm-3.101-8.747c1.403-.268 2.323-1.623 2.055-3.026-.269-1.403-1.624-2.323-3.026-2.055-1.403.269-2.323 1.624-2.055 3.026.268 1.404 1.623 2.324 3.026 2.055z"/>
        </svg>
      </button>
      <div class="button-wrapper">
        <div id="copy-room-link-overlay" class="hover-overlay">
          <span id="copy-room-link-content"></span>
          <div class="copied-indicator" aria-hidden="true">
            Copied
            <!-- check-mark-17 by Iconmonstr @ https://iconmonstr.com/check-mark-17-svg/ -->
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" aria-hidden="true">
              <path fill="currentColor" d="M21 6.285l-11.16 12.733-6.84-6.018 1.319-1.49 5.341 4.686 9.865-11.196 1.475 1.285z"/>
            </svg>
          </div>
        </div>
        <button id="copy-room-link-button" class="button" type="button" title="Copy room link" aria-label="Copy room link">
          <!-- Link-2 by Iconmonstr @ https://iconmonstr.com/link-2-svg/ -->
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" aria-hidden="true">
            <path fill="currentColor" d="M13.723 18.654l-3.61 3.609c-2.316 2.315-6.063 2.315-8.378 0-1.12-1.118-1.735-2.606-1.735-4.188 0-1.582.615-3.07 1.734-4.189l4.866-4.865c2.355-2.355 6.114-2.262 8.377 0 .453.453.81.973 1.089 1.527l-1.593 1.592c-.18-.613-.5-1.189-.964-1.652-1.448-1.448-3.93-1.51-5.439-.001l-.001.002-4.867 4.865c-1.5 1.499-1.5 3.941 0 5.44 1.517 1.517 3.958 1.488 5.442 0l2.425-2.424c.993.284 1.791.335 2.654.284zm.161-16.918l-3.574 3.576c.847-.05 1.655 0 2.653.283l2.393-2.389c1.498-1.502 3.94-1.5 5.44-.001 1.517 1.518 1.486 3.959 0 5.442l-4.831 4.831-.003.002c-1.438 1.437-3.886 1.552-5.439-.002-.473-.474-.785-1.042-.956-1.643l-.084.068-1.517 1.515c.28.556.635 1.075 1.088 1.528 2.245 2.245 6.004 2.374 8.378 0l4.832-4.831c2.314-2.316 2.316-6.062-.001-8.377-2.317-2.321-6.067-2.313-8.379-.002z"/>
          </svg>
        </button>
      </div>

      <button id="new-room-button" class="button persistent" type="button" title="Create an empty room" aria-label="Create an empty room">
        <!-- Plus-2 by Iconmonstr @ https://iconmonstr.com/plus-2-svg/ -->
        <svg class="plus-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" aria-hidden="true">
          <path fill="currentColor" d="M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z"/>
        </svg>
      </button>
      <div class="button-wrapper">
        <input
          type="text" id="join-room-overlay-input" class="hover-overlay has-pointer-events no-hover" title="Enter a four-letter room code or a room link"
          minlength="4" spellcheck="false" autocomplete="off" autocorrect="off" placeholder="Room link or room code"/>
        <button id="join-room-button" class="button persistent" type="button" title="Join a room" aria-label="Join a room">
          <!-- arrow-right-lined by Iconmonstr @ https://iconmonstr.com/arrow-right-lined-svg/ | viewBox modified -->
          <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="0" viewBox="2 2 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path fill="currentColor" d="m14.523 18.787s4.501-4.505 6.255-6.26c.146-.146.219-.338.219-.53s-.073-.383-.219-.53c-1.753-1.754-6.255-6.258-6.255-6.258-.144-.145-.334-.217-.524-.217-.193 0-.385.074-.532.221-.293.292-.295.766-.004 1.056l4.978 4.978h-14.692c-.414 0-.75.336-.75.75s.336.75.75.75h14.692l-4.979 4.979c-.289.289-.286.762.006 1.054.148.148.341.222.533.222.19 0 .378-.072.522-.215z" fill-rule="nonzero"/>
          </svg>
        </button>
      </div>
    </div>

    <div id="utility-overlay" class="overlay bottom left button-group">
      <div id="toolbar" class="panel no-border has-pointer-events">
        <button data-tool="brush" class="button active" type="button">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" aria-hidden="true">
            <path fill="currentColor" d="M0 21.398c5.504.456 3.533-5.392 8.626-5.445l2.206 1.841c.549 6.645-7.579 8.127-10.832 3.604zm16.878-8.538c1.713-2.687 7.016-11.698 7.016-11.698.423-.747-.515-1.528-1.17-.976 0 0-7.887 6.857-10.213 9.03-1.838 1.719-1.846 2.504-2.441 5.336l2.016 1.681c2.67-1.098 3.439-1.248 4.792-3.373z"/>
          </svg>
        </button>
        <button data-tool="eraser" class="button" type="button">
          <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" aria-hidden="true">
            <path fill="currentColor" d="M5.662 23l-5.369-5.365c-.195-.195-.293-.45-.293-.707 0-.256.098-.512.293-.707l14.929-14.928c.195-.194.451-.293.707-.293.255 0 .512.099.707.293l7.071 7.073c.196.195.293.451.293.708 0 .256-.097.511-.293.707l-11.216 11.219h5.514v2h-12.343zm3.657-2l-5.486-5.486-1.419 1.414 4.076 4.072h2.829zm.456-11.429l-4.528 4.528 5.658 5.659 4.527-4.53-5.657-5.657z"/>
          </svg>
        </button>
      </div>

      <button id="clear-drawing-button" class="button" type="button" title="Clear your drawing" aria-label="Clear your drawing">
        <!-- trash-can-28 by Iconmonstr @ https://iconmonstr.com/trash-can-28-svg/ -->
        <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" aria-hidden="true">
          <path fill="currentColor" d="M19 24h-14c-1.104 0-2-.896-2-2v-17h-1v-2h6v-1.5c0-.827.673-1.5 1.5-1.5h5c.825 0 1.5.671 1.5 1.5v1.5h6v2h-1v17c0 1.104-.896 2-2 2zm0-19h-14v16.5c0 .276.224.5.5.5h13c.276 0 .5-.224.5-.5v-16.5zm-9 4c0-.552-.448-1-1-1s-1 .448-1 1v9c0 .552.448 1 1 1s1-.448 1-1v-9zm6 0c0-.552-.448-1-1-1s-1 .448-1 1v9c0 .552.448 1 1 1s1-.448 1-1v-9zm-2-7h-4v1h4v-1z"/>
        </svg>
      </button>

      <div id="tool-config-bar" class="button-group horizontal">
        <div id="width-slider"></div>
        <div id="hue-slider"></div>
      </div>
    </div>

    <div id="notification-overlay" class="overlay top overlay-text"></div>

    <script src="/script/library/slider89/slider89.js"></script>
    <script src="/script/library/controls3d/State3D.js"></script>
    <script src="/script/library/controls3d/Controls3D.js"></script>

    <script src="/script/tool/ScratchetTool.js"></script>
    <script src="/script/tool/Brush.js"></script>
    <script src="/script/tool/Eraser.js"></script>

    <script src="/script/UIHandler.js"></script>
    <script src="/script/ScratchetBufferController.js"></script>
    <script src="/script/ScratchetController.js"></script>
    <script src="/script/ScratchetCanvasControls.js"></script>
    <script src="/script/ScratchetCanvas.js"></script>
    <script src="/script/ScratchetRoom.js"></script>
    <script src="/script/ScratchetUser.js"></script>
    <script src="/script/init.js"></script>
  </body>
</html>
