/*
Written by Hallo89 using LESS CSS - http://lesscss.org
No necessity to write this in here but Less is awesome!
*/
/* Inter by Rasmus Andersson @ https://rsms.me/inter/ */
@font-face {
  font-family: 'Inter';
  font-weight: normal;
  font-display: swap;
  src: local('Inter'), local('Inter Regular'), local('Inter-Regular'), url('/font/Inter/Inter-Regular.woff2') format('woff2'), url('/font/Inter/Inter-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-weight: bold;
  font-display: swap;
  src: local('Inter Bold'), local('Inter-Bold'), url('/font/Inter/Inter-Bold.woff2') format('woff2'), url('/font/Inter/Inter-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-weight: 300;
  font-display: swap;
  src: local('Inter Light'), local('Inter-Light'), url('/font/Inter/Inter-Light.woff2') format('woff2'), url('/font/Inter/Inter-Light.woff') format('woff');
}
html {
  scrollbar-color: hsl(0, 0%, 43%) hsl(0, 0%, 14%);
  font-size: calc(0.08vw + 0.04vh + 16.05px);
}
html.light-mode {
  scrollbar-color: auto;
}
@media (max-width: 960px) {
  html {
    font-size: calc(0.4vw + 0.1vh + 12.55px);
  }
}
body {
  margin: 0;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 88%);
  font-family: 'Inter', 'Roboto', 'San Francisco', 'Segoe UI', 'Arial', sans-serif;
  transition: background 0.15s linear;
}
html.light-mode body {
  color: hsl(0, 0%, 4%);
  background-color: transparent;
}
:focus {
  outline: 3px solid #1960C9;
}
@supports selector(:focus-visible) or selector(:-moz-focusring) {
  :focus {
    outline: none;
  }
}
:-moz-focusring {
  outline: 3px solid #1960C9;
}
:focus-visible {
  outline: 3px solid #1960C9;
}
#cookiebanner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  font-size: 1.03rem;
  border-top: 3px solid hsl(0, 0%, 27%);
  border-bottom: 3px solid #0a0a0a;
  background-color: hsl(0, 0%, 11%);
  color: hsl(0, 0%, 88%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  transition: clip-path 0.2s cubic-bezier(0.3, 0.1, 0.225, 0.95), opacity 0.375s cubic-bezier(0.6, 0.2, 0.15, 1), color 0.15s linear, background 0.15s linear, border 0.15s linear;
}
#cookiebanner .description {
  z-index: -1;
  padding: 0.5em 0.7em;
}
#cookiebanner .background {
  position: absolute;
  top: 0;
  left: 0;
  height: 0%;
  width: 100%;
  background-color: hsl(0, 0%, 27%);
  z-index: 1;
  transition: height 0.1s ease, background 0.15s linear;
}
#cookiebanner button {
  position: relative;
  padding: 0.5em 0.75em;
  background-color: hsl(0, 0%, 17%);
  font-family: 'San Francisco Monospace', 'Consolas', 'Inter', sans-serif;
  font-size: inherit;
  border: none;
  border-left: 2px solid hsl(0, 0%, 27%);
  border-right: 2px solid #0a0a0a;
  color: inherit;
  cursor: pointer;
  transition: all 0.1s ease, background-color 0.1s ease-in-out, background 0.15s linear, border 0.15s linear;
}
#cookiebanner button::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  border-radius: 100px;
  transition: all 0.45s cubic-bezier(0.45, 0.1, 0.2, 1), background 0.15s linear;
}
#cookiebanner button:active {
  border-left-color: hsl(0, 0%, 25.5%);
  border-right-color: #060606;
}
#cookiebanner.removing button,
#cookiebanner button:active,
#cookiebanner button::before {
  background-color: hsl(0, 0%, 15.5%);
}
#cookiebanner.removing button {
  color: transparent;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  outline: none;
}
#cookiebanner.removing button::before {
  width: calc(200vw - 100%);
  border-radius: 0;
  transform: translateX(-100vw);
}
#cookiebanner.removing2 .background {
  height: 100%;
}
#cookiebanner.removing3 {
  opacity: 0.25;
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}
#cookiebanner.gone {
  display: none;
}
html.light-mode #cookiebanner {
  border-top-color: hsl(0, 0%, 97.5%);
  border-bottom-color: hsl(0, 0%, 68.5%);
  background-color: hsl(0, 0%, 94%);
  color: hsl(0, 0%, 4%);
}
html.light-mode #cookiebanner .background {
  background-color: hsl(0, 0%, 97.5%);
}
html.light-mode #cookiebanner button {
  background-color: hsl(0, 0%, 88%);
  border-left-color: hsl(0, 0%, 100%);
  border-right-color: hsl(0, 0%, 68.5%);
}
html.light-mode #cookiebanner button:active {
  border-left-color: hsl(0, 0%, 98.5%);
  border-right-color: hsl(0, 0%, 72%);
}
html.light-mode #cookiebanner.removing button,
html.light-mode #cookiebanner button:active,
html.light-mode #cookiebanner button::before {
  background-color: hsl(0, 0%, 86.5%);
}
@media (max-width: 490px) {
  #cookiebanner {
    flex-direction: column;
  }
  #cookiebanner .description {
    padding: 0.45em 0.35em;
  }
  #cookiebanner button {
    position: static;
    border-bottom: none;
    border-left: none !important;
    border-right: none !important;
    border-top: 2px solid hsl(0, 0%, 27%);
  }
  #cookiebanner button:active {
    border-top-color: hsl(0, 0%, 25.5%);
  }
  #cookiebanner button::before {
    left: 0;
    top: auto;
    bottom: 2.25em;
    height: 0%;
    width: 100% !important;
    border-radius: 0;
    transition: height 0.375s cubic-bezier(0.55, 0.125, 0.05, 1), background 0.15s linear;
  }
  #cookiebanner.removing button {
    border-top-color: transparent !important;
  }
  #cookiebanner.removing button::before {
    transform: none;
    height: calc(100% - 2.25em);
  }
  html.light-mode #cookiebanner button {
    border-top-color: hsl(0, 0%, 100%);
  }
  html.light-mode #cookiebanner button:active {
    border-top-color: hsl(0, 0%, 98.5%);
  }
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.4em;
  font-size: 1.7rem;
  background-color: hsl(0, 0%, 3.5%);
  color: hsl(0, 0%, 78.5%);
  box-sizing: border-box;
  transition: background 0.15s linear, color 0.15s linear;
}
#navbar a {
  color: inherit;
  text-decoration: none;
}
#navbar .text {
  display: flex;
  align-items: center;
}
#navbar .text h1 {
  font-size: inherit;
  font-weight: normal;
  margin: 0;
}
#navbar .text .root-link {
  display: flex;
  align-items: center;
}
#navbar .text img {
  width: 1.9em;
  height: 1.9em;
  border-radius: 100%;
  margin-right: 0.3em;
}
#navbar .text .name {
  font-weight: bold;
}
#navbar .text .arrow {
  font-family: 'Source Code Pro', 'Consolas', monospace;
  padding: 0 0.3em;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html.light-mode #navbar {
  background-color: hsl(0, 0%, 97%);
  color: hsl(0, 0%, 22%);
}
#navbar #modes {
  margin-right: 0.2em;
}
#modes .mode-switch {
  display: block;
  position: relative;
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 1em;
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}
#modes .mode-switch > svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.325s ease;
}
#modes .mode-switch > svg > * {
  transition: all 0.15s ease;
}
#modes .mode-switch .icon-sun {
  color: hsl(0, 0%, 88%);
}
#modes .mode-switch .icon-sun circle {
  transform-origin: 12px 12px;
}
#modes .mode-switch .icon-sun rect {
  transition-delay: 0.033s;
}
#modes .mode-switch .icon-moon {
  color: hsl(0, 0%, 4%);
}
#modes .mode-switch .icon-moon .base {
  transform-origin: 6.8px 12px;
}
#modes .mode-switch .icon-moon .star-1 {
  transform-origin: 15px 11px;
  transition-delay: 0.06s;
}
#modes .mode-switch .icon-moon .star-2 {
  transform-origin: 22px 11px;
  transition-delay: 0.0665s;
}
#modes .mode-switch .icon-moon .star-3 {
  transform-origin: 19px 5px;
  transition-delay: 0.073s;
}
html.light-mode #modes .mode-switch .icon-sun,
html:not(.light-mode) #modes .mode-switch .icon-moon {
  transform: rotate(-33.75deg);
  visibility: hidden;
  z-index: -1;
}
html.light-mode #modes .mode-switch .icon-moon,
html:not(.light-mode) #modes .mode-switch .icon-sun {
  animation: 0.325s iconPositiveRotate ease;
}
html:not(.light-mode) #modes .mode-switch .icon-moon .base,
html:not(.light-mode) #modes .mode-switch .icon-moon .star {
  transform: scale(0);
}
html:not(.light-mode) #modes .mode-switch .icon-moon .star {
  transition-delay: 0s;
}
html.light-mode #modes .mode-switch .icon-sun circle {
  transform: scale(0);
  transition-delay: 0.0325s;
}
html.light-mode #modes .mode-switch .icon-sun rect {
  height: 0;
  transition-delay: 0s;
}
@keyframes iconPositiveRotate {
  from {
    transform: rotate(33.75deg);
  }
}
#footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
  padding: 1em 0;
  background-color: hsl(0, 0%, 4.5%);
  color: hsl(0, 0%, 88%);
}
#footer .nav-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 60em;
  margin-bottom: 1em;
}
#footer .nav-wrapper .nav-item {
  flex: 1;
  display: flex;
  justify-content: center;
}
#footer .nav-wrapper .nav-item:nth-child(1) {
  animation: 0.45s navItemIn cubic-bezier(0.4, 0.1, 0.5, 1);
}
#footer .nav-wrapper .nav-item:nth-child(2) {
  animation: 0.53s navItemIn cubic-bezier(0.4, 0.1, 0.5, 1);
}
#footer .nav-wrapper .nav-item:nth-child(3) {
  animation: 0.61s navItemIn cubic-bezier(0.4, 0.1, 0.5, 1);
}
@keyframes navItemIn {
  from {
    transform: translateX(-1.25em);
    opacity: 0.15;
  }
}
#footer .nav-wrapper .nav-item:nth-child(1) a::before {
  left: 100%;
}
#footer .nav-wrapper .nav-item:nth-child(3) a::before {
  left: 0;
}
#footer .nav-wrapper h3 {
  font-size: 1.12em;
  margin: 0.75em 0;
}
#footer .nav-wrapper ul {
  padding: 0;
  margin: 0;
}
#footer .nav-wrapper ul li {
  list-style: none;
  margin: 0.52em 0;
  color: hsl(0, 0%, 78%);
}
#footer .nav-wrapper ul li:nth-last-of-type(1) {
  margin-bottom: 0;
}
#footer .nav-wrapper ul a {
  white-space: nowrap;
}
#footer hr {
  width: 5.5em;
  margin: 0.3em 0;
  border: 1px solid hsl(0, 0%, 35%);
  animation: 0.4s borderIn cubic-bezier(0.55, 0.05, 0.5, 0.95);
}
@keyframes borderIn {
  from {
    width: 3.5em;
    opacity: 0.25;
  }
}
#footer .side-note {
  font-size: 0.9em;
  font-weight: 300;
  color: hsl(0, 0%, 73%);
  animation: 0.4s sideNoteIn ease-in;
}
@keyframes sideNoteIn {
  from {
    opacity: 0.1;
  }
}
#footer .side-note em {
  font-style: normal;
}
#footer a {
  position: relative;
  text-decoration: none;
  padding: 0 0 0.2em;
  color: inherit;
}
#footer a::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  border-bottom: 1px solid hsl(0, 0%, 78%);
  transition: all 0.225s ease;
}
#footer a:hover::before {
  left: 0 !important;
  width: 100%;
}
html.light-mode #footer {
  background-color: hsl(0, 0%, 19%);
  color: white;
}
html.light-mode #footer .nav-wrapper ul li {
  color: #e6e6e6;
}
html.light-mode #footer hr {
  border-color: #787878;
}
html.light-mode #footer .side-note {
  color: #d9d9d9;
}
html.light-mode #footer a::before {
  border-bottom-color: #e6e6e6;
}
@media (max-width: 700px) {
  #footer {
    padding: 1em 0.5em;
  }
  #footer .nav-wrapper {
    flex-flow: column;
  }
  #footer .nav-wrapper .nav-item:not(:nth-last-of-type(1)) {
    margin-bottom: 0.3em;
  }
  #footer .nav-wrapper .nav-item:nth-last-of-type(1) ul li {
    margin-bottom: 0 !important;
  }
  #footer .nav-wrapper h3 {
    text-align: center;
  }
  #footer .nav-wrapper ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #footer .nav-wrapper ul li {
    margin: 0.52em 0.5em !important;
  }
  #footer hr {
    width: 4.5em;
  }
}
#gbl-box-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22.57em, 1fr));
  grid-gap: 1.942em;
  justify-items: center;
  align-items: center;
  font-size: 1rem;
  padding: 2.64em 1.2em;
  min-height: 100vh;
  box-sizing: border-box;
}
.gbl-box {
  display: block;
  text-decoration: none;
  position: relative;
  z-index: 0;
  overflow: hidden;
  width: 17.1em;
  height: 19em;
  font-size: 1.32rem;
  color: hsl(0, 0%, 88%);
  background-color: hsl(0, 0%, 11%);
  border-top: 4px solid hsl(0, 0%, 27%);
  border-bottom: 4px solid #0a0a0a;
  box-shadow: 0 2px 18px hsla(0, 0%, 6%, 0.285);
  box-sizing: border-box;
  transition: transform 0.2s cubic-bezier(0.35, 0.1, 0.2, 0.95), box-shadow 0.2s ease-out, color 0.15s linear, background 0.15s linear, border 0.15s linear, box-shadow 0.15s linear;
}
.gbl-box .description {
  font-size: 0.96em;
  line-height: 1.25em;
  margin: 0;
  padding: 0 1.172em;
  opacity: 0;
  visibility: hidden;
  transition: transform 0.175s cubic-bezier(0.3, 0.15, 0.15, 1), opacity 0.1s ease-in-out, visibility 0.1s linear;
}
.gbl-box .backdrop {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-size: cover;
  image-rendering: optimizeQuality;
  image-rendering: -webkit-smooth;
  image-rendering: smooth;
  transition: -webkit-filter 0.225s cubic-bezier(0.35, 0.125, 0.15, 0.95), filter 0.225s cubic-bezier(0.35, 0.125, 0.15, 0.95);
}
.gbl-box .heading .text,
.gbl-box .quick-links {
  background-color: hsla(0, 0%, 11%, 0.675);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}
.gbl-box .heading {
  margin: 0;
  padding: 1.85em 0.5em;
  box-sizing: border-box;
  transition: transform 0.2s ease;
}
.gbl-box .heading .text {
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0 0.25em;
  transition: -webkit-backdrop-filter 0.225s cubic-bezier(0.25, 0.15, 0.15, 1), backdrop-filter 0.225s cubic-bezier(0.25, 0.15, 0.15, 1), background-color 0.225s cubic-bezier(0.25, 0.15, 0.15, 1);
}
.gbl-box .heading .text .icon-external-link {
  vertical-align: middle;
  width: 0.813em;
  height: 0.813em;
  position: relative;
  bottom: 0.091em;
  margin-left: 0.196em;
}
.gbl-box .quick-links {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: 0;
  font-size: 0.925em;
  border-top: 3px solid hsla(0, 0%, 15.5%, 0.675);
  transition: background 0.15s linear, border 0.15s linear;
}
.gbl-box .quick-links .link {
  position: relative;
  flex: 1;
  text-align: center;
  list-style: none;
}
.gbl-box .quick-links .link::before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  bottom: 0;
  width: 0;
  opacity: 0;
  z-index: -1;
  background-color: hsla(0, 0%, 6.5%, 0.275);
  border-top-color: hsla(0, 0%, 18.5%, 0.275);
  border-radius: 1px;
  visibility: hidden;
  animation: linkShiftOut 0.1s ease;
  transition: opacity 0.075s ease-in-out, background 0.15s linear, border 0.15s linear;
}
.gbl-box .quick-links .link:hover::before {
  visibility: visible;
  width: 100%;
  opacity: 1;
  animation: linkShiftIn 0.1s ease;
}
@keyframes linkShiftIn {
  from {
    width: 0%;
  }
}
@keyframes linkShiftOut {
  from {
    left: unset;
    right: 0;
    width: 100%;
    visibility: visible;
  }
  to {
    left: unset;
    right: 0;
    visibility: visible;
  }
}
.gbl-box .quick-links button {
  width: 100%;
  height: 100%;
  padding: 0.65em 0.25em;
  background: transparent;
  border: none;
  margin: 0;
  color: inherit;
  font: inherit;
  cursor: pointer;
}
.gbl-box .quick-links button:focus {
  outline: none;
  box-shadow: inset 0 0 0 3px #1960C9;
}
@supports selector(:focus-visible) or selector(:-moz-focusring) {
  .gbl-box .quick-links button:focus {
    box-shadow: none;
  }
}
.gbl-box .quick-links button:-moz-focusring {
  outline: none;
  box-shadow: inset 0 0 0 3px #1960C9;
}
.gbl-box .quick-links button:focus-visible {
  outline: none;
  box-shadow: inset 0 0 0 3px #1960C9;
}
.gbl-box:hover {
  box-shadow: 0 4px 22px hsla(0, 0%, 6%, 0.475);
  transform: translateY(-2px);
}
.gbl-box:hover .heading {
  transform: translateY(-0.0875em);
}
.gbl-box:hover .heading .text {
  background-color: transparent;
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
}
.gbl-box:hover .description {
  opacity: 1;
  visibility: visible;
  transform: translateY(-0.185em);
}
.gbl-box:hover .backdrop {
  -webkit-filter: blur(20px) brightness(60%);
  filter: blur(20px) brightness(60%);
}
@media (hover: none) {
  .gbl-box {
    box-shadow: 0 4px 22px hsla(0, 0%, 6%, 0.475);
  }
  .gbl-box .heading {
    transform: translateY(-0.0875em);
  }
  .gbl-box .heading .text {
    background-color: transparent;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
  }
  .gbl-box .description {
    opacity: 1;
    visibility: visible;
    transform: translateY(-0.185em);
  }
  .gbl-box .backdrop {
    -webkit-filter: brightness(45%) !important;
    filter: brightness(45%) !important;
  }
}
